
body {
    margin: 0%;
}

.figure-img {
    margin: 0%;
    padding: 0%;
    .fondo {
        background-image: url('../../assets/comunal.jpeg');
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center;
        position: relative
    }
}
.contenedor-home {
    position: absolute;
    top: 18%;
    left: 135px;
    .logo {
        width: 200px;
        margin-left: 23px;
        margin-bottom: 158px;
    }
    div {
        display: flex;
        flex-direction: column-reverse;
        margin: auto;
        align-items: center;
        button {
            width: 250px;
            height: 50px;
            border-radius: 10px;
            background-color: black;
            border-color: black;
            color: whitesmoke;
            font-size: 20px;
            /* margin-left: 100px;
            margin-right: 108px; */
            margin-bottom: 20px;
    }
        a {
            color: white;
            font-size: 20px;
            margin-bottom: 20px;
        }
    }
}

.navbar {
    height: 80px;
    .nav { 
        position: relative;
        .logo-nav {
            width: 50px;
            margin: 15px;
        }
    }
}

.cam {
    position: absolute;
    top: 20px;
    left: 500px;
}