
body {
    margin: 0%;
}

.figure-img {
    margin: 0%;
    padding: 0%;
    .fondo {
        background-image: url('../../assets/comunal.jpeg');
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center;
        position: relative
    }
}
.contenedor-home {
    position: absolute;
    top: 18%;
    left: 135px;
    .logo {
        width: 200px;
        margin-left: 23px;
        margin-bottom: 158px;
    }
    div {
        display: flex;
        flex-direction: column-reverse;
        margin: auto;
        align-items: center;
        button {
            width: 250px;
            height: 50px;
            border-radius: 10px;
            background-color: black;
            border-color: black;
            color: whitesmoke;
            font-size: 20px;
            /* margin-left: 100px;
            margin-right: 108px; */
            margin-bottom: 20px;
    }
        a {
            color: white;
            font-size: 20px;
            margin-bottom: 20px;
        }
    }
}

.navbar {
    background-color: whitesmoke;
    height: 70px!important;
    .logo-nav {
        width: 50px;
    }
}

/* font-size: 50px;
    position: absolute;
    top: -8px;
    left: 465px; */

/* .navbar {
    height: 80px;
    .nav { 
        position: relative;
        .logo-nav {
            width: 50px;
            margin: 15px;
        }
    }
} */

.arrow-cam {
    font-size: 50px;
    position: absolute;
    top: 0px;
    left: 465px;
    
    i {
        color: black;
    }
}

.arrow-home {
    font-size: 50px;
    position: absolute;
    top: 0px;
    left: 15px;
    i {
        color: black;
    }
}

.form-register {
    text-align: center;
    margin: 50px;
    h3 {
        font-size: 30px;
        margin-bottom: 150px;
        margin-top: 75px;
        font-family: 'Donegal One', serif;
    }
    .form {
        text-align: -webkit-left;
        margin: 17px 25px;
        p {
            font-size: 16px;
        }
        .btn-register {
            margin: 13px 104px;
            border-radius: 10px;
            /* width: 175px; */
            /* height: 41px; */
            background-color: black;
            color: white;
        
        }
        .continue {
            width: 160px;
            height: 40px;
            border-radius: 10px;
            margin: 20px 110px;
            background: black;
            color: white;
            font-size: 20px;
        
        }
    }
}