body {
  margin: 0%;
  height: 100vh; }

.figure-img {
  margin: 0%;
  padding: 0%; }
  .figure-img .fondo {
    background-image: url("../../assets/comunal.jpeg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative; }

.contenedor-home {
  position: absolute;
  top: 17%;
  left: 85px; }
  .contenedor-home .logo {
    width: 200px;
    margin-left: 23px;
    margin-bottom: 158px; }
  .contenedor-home div {
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
    align-items: center; }
    .contenedor-home div button {
      width: 250px;
      height: 50px;
      border-radius: 10px;
      background-color: black;
      border-color: black;
      color: whitesmoke;
      font-size: 20px;
      /* margin-left: 100px;
      margin-right: 108px; */
      margin-bottom: 20px; }
    .contenedor-home div a {
      color: white;
      font-size: 20px;
      margin-bottom: 20px; }

.navbar {
  background-color: whitesmoke;
  height: 70px; }
  .navbar .logo-nav {
    width: 50px; }

.arrow-cam {
  font-size: 50px;
  position: absolute;
  top: 0px;
  left: 360px; }
  .arrow-cam i {
    color: black; }

.arrow-home {
  font-size: 50px;
  position: absolute;
  top: 0px;
  left: 17px; }
  .arrow-home i {
    color: black; }

.form-existing-user {
  text-align: center;
  margin: 50px;
  margin-top: 75px; }
  .form-existing-user h3 {
    font-size: 30px;
    margin-bottom: 150px;
    margin-top: 75px;
    font-family: 'Donegal One', serif; }
  .form-existing-user .form {
    text-align: -webkit-left;
    margin: 17px 25px; }
    .form-existing-user .form p {
      font-size: 16px;
      margin-bottom: 2rem; }
    .form-existing-user .form .btn-register {
      margin: 13px 104px;
      border-radius: 10px;
      /* width: 175px; */
      /* height: 41px; */
      background-color: black;
      color: white; }
    .form-existing-user .form .continue {
      width: 160px;
      height: 40px;
      border-radius: 10px;
      margin: 20px 52px;
      background: black;
      color: white;
      font-size: 20px; }

.form-register {
  text-align: center;
  margin: 45px;
  margin-top: 50px; }
  .form-register .form {
    text-align: -webkit-left;
    margin: 17px 25px; }
    .form-register .form p {
      font-size: 16px;
      margin-bottom: 1rem; }
    .form-register .form .btn-register {
      margin: 0px 0px 0px 59px;
      border-radius: 10px;
      width: 170px;
      height: 50px;
      background-color: black;
      color: white;
      font-size: 18px; }
    .form-register .form .continue {
      width: 160px;
      height: 40px;
      border-radius: 10px;
      margin: 20px 52px;
      background: black;
      color: white;
      font-size: 20px; }

.form-register-admin {
  text-align: center; }
  .form-register-admin .form-admin {
    margin: 170px 50px 0px 50px; }
    .form-register-admin .form-admin input {
      margin-bottom: 30px; }
    .form-register-admin .form-admin .btn-dashboard {
      width: 100px;
      height: 40px;
      font-size: 18px;
      background: black;
      border-radius: 10px; }
      .form-register-admin .form-admin .btn-dashboard a {
        border-style: none;
        color: white; }

@media (min-width: 768px) {
  nav {
    height: 100px;
    background: whitesmoke !important; }
    nav .logo-nav {
      width: 60px;
      margin-top: 20px; }

  .arrow-cam {
    top: 14px;
    left: 700px; }

  .arrow-home {
    top: 14px; }

  .contenedor-home {
    top: 20%;
    left: 236px; }
    .contenedor-home .logo {
      width: 220px;
      margin-left: 14px;
      margin-bottom: 155px; }
    .contenedor-home div a {
      font-size: 28px; }
    .contenedor-home div button {
      width: 270px;
      height: 75px;
      font-size: 25px; } }

/*# sourceMappingURL=output.css.map */
