/*

*{
    margin: 0px;
    padding: 0px;
    text-decoration: 0px;
    font-family: sans-serif;
   box-sizing: border-box; 
}

[class*="col-"]{
    float: left;
    *border: 1px solid black; 
    padding: 20px;
}

video {
    display: block;
    height: 100%;
    width: 100%;
    margin: auto;
}

.foto{
    width: 60%;
    height: 30%;
}
*/










*{
    margin: 0px;
    padding: 0px;
    text-decoration: 0px;
    font-family: sans-serif;
   /* box-sizing: border-box; */
}

[class*="col-"]{
    float: left;
    /*border: 1px solid black; */
    padding: 20px;
}

video {
    display: block;
    height: 100%;
    width: 100%;
    margin: auto;
}

.foto{
    width: 60%;
    height: 30%;
}

.cam{
    background-color: yellow;
    float: right;
}

@media(max-width:1199px) and (min-width:992px){
    .col-12 {width: 100%;}
    .col-9{width: 75%;}
    .col-6{width: 50%;}
    .col-4{width: 33.33333333%}
    .col-3{width: 25%}
    .col-2{width: 16.66666667%;}
}

@media(min-width:1200px){
    .col-12 {width: 100%;}
    .col-9{width: 75%;}
    .col-6{width: 50%;}
    .col-4{width: 33.33333333%}
    .col-3{width: 25%}
    .col-2{width: 16.66666667%;}
}

@media(max-width:991px) and (min-width:767px){
    .col-12 {width: 100%;}
    .col-9{width: 75%;}
    .col-6{width: 50%;}
    .col-4{width: 33.33333333%}
    .col-3{width: 25%}
    .col-2{width: 16.66666667%;}
}

.imagenlogo{
    width: 100px;
    display: block;
    margin: auto;
}

.btn-register{
    text-decoration: none;
    padding: 15px;
    font-size: 20px;
    color: #e6dde0;
    background-color:#272727;
    border-radius: 6px;
    margin: 50px;
    text-align: center;
    display: block;
}

.antes{
    float: right;
}

.antes:hover{
    opacity: gray;
    color: #e6dde0;
    background-color: gray;
}

.admin{
    float: left;
}
.admin:hover{
    background-color: gray;
    color: #e6dde0;
}