*{
    margin: 0px;
    padding: 0px;
    text-decoration: 0px;
    font-family: sans-serif;
   /* box-sizing: border-box; */
}


video {
    display: block;
    height: 100%;
    width: 100%;
    margin: auto;
}

.foto{
    width: 60%;
    height: 30%;
}


@media(max-width:1199px) and (min-width:992px){
    .col-12 {width: 100%;}
    .col-9{width: 75%;}
    .col-6{width: 50%;}
    .col-4{width: 33.33333333%}
    .col-3{width: 25%}
    .col-2{width: 16.66666667%;}
}

@media(min-width:1200px){
    .col-12 {width: 100%;}
    .col-9{width: 75%;}
    .col-6{width: 50%;}
    .col-4{width: 33.33333333%}
    .col-3{width: 25%}
    .col-2{width: 16.66666667%;}
}

@media(max-width:991px) and (min-width:767px){
    .col-12 {width: 100%;}
    .col-9{width: 75%;}
    .col-6{width: 50%;}
    .col-4{width: 33.33333333%}
    .col-3{width: 25%}
    .col-2{width: 16.66666667%;}
}

.imagenlogo{
    width: 100px;
    display: block;
    margin: auto;
}

.divBtn{
    display: flex;
    justify-content: center;
}

.btn-register{
    text-decoration: none;
    padding: 15px;
    font-size: 20px;
    color: #e6dde0;
    background-color:#272727;
    border-radius: 6px;
    margin: 50px;
    text-align: center;
    display: block;
}

.antes{
    float: right;
}

.antes:hover{
    opacity: 0.5;
    color: #e6dde0;
    background-color: gray;
}

.admin{
    float: left;
}
.admin:hover{
    background-color: gray;
    color: #e6dde0;
}



.emailAdmin, .passwordAdmin{
    display: block;
    float: center;
    padding: 3%;
    outline: none;
    background: #f0ffea;
    margin-bottom: 7px;
    margin-left: 260px;
    height: 30px;
    padding: 10px 35px;
    border-radius: 15px;
    border: 1px solid #e6e6e6;
}


 .ingresarAdmin:link, 
.ingresarAdmin:visited { 
   border-top: 1px solid #cccccc; 
   border-bottom: 2px solid #666666; 
   border-left: 1px solid #cccccc; 
   border-right: 2px solid #666666; 
} 
.ingresarAdmin:hover { 
    border-bottom: 1px solid #cccccc; 
   border-top: 2px solid #666666; 
   border-right: 1px solid #cccccc; 
   border-left: 2px solid #666666; 
}

.logoDash{
    width: 50px;
    height: 10px;
}

.dashBlack{
    background-color: rgb(194, 184, 184);
    color: white;
}

.dashYellow{
    background-color: yellow;
    color: black;
}

.selectAdmin{
    width: 150px;
    height: 25px;
    margin: 12px;
}

.pAdmin{
    margin: 2.5px;
    padding: 1.5px;
    line-height: 1.0em;
}

.hoy{
    margin: 7px;
}


.inputVisitante{
    height: 900px;
    height: 10px;
    float: left;
}

.btn-visitante{
   float: right;
}

.table{
    border: 1.5px solid black;
}

navbar, .navbar-inverse {
    border-radius: 0;
    border: none;
    margin-bottom: 0;
    min-height: 80px;
}

.nav li {
    display: inline;
    color: white;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
    font-family: Lato;
    font-size: 1.7em;
    font-weight: 300;
    padding: 30px 25px 33px 25px;
}

.navbar-inverse .navbar-nav li a:hover {
    background-color: #444444;
    transition: 0.7s all linear;
    height: 100%;
}
